*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategray;
    color: floralwhite;
}

.container{
    width: 100%;
    height: 800px;
    background-color: lightgrey;
    padding: 10px;
}
.container p{
    font-size: 20px;
}